<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>

    <style>
        div {
            text-align: center;
            margin-block: 1rem;
            color: red;
        }

        form {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: .5rem;
            max-width: 500px;
            margin: 0 auto;
        }

        button {
            grid-column: span 2;
        }

        a {
            text-align: center;
        }
    </style>
</head>

<body>
    <% if (!!locals.error) { %>
        <div>
            Invalid password
        </div>
        <% } %>
            <form method="post" enctype="application/x-www-form-urlencoded">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>

                <button type="submit">Download</button>
            </form>

            <a href="/">Home</a>
</body>

</html>